* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
    
}

body {
    background-image: linear-gradient(125deg, 
    rgb(144, 18, 18, 1) 0%, 
    rgba(144, 18, 18, 1) 50%, 
    rgba(0, 35, 80, 1) 50%, 
    rgba(0, 35, 80, 1) 100%);
    overflow: hidden;
}
.content-full {
    height: calc(100vh - 110px);
    width: calc(100vw - 200px);
    background: linear-gradient(0deg, #1A2841 0%, #0B1322 100%, #080A0E 100%);
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 55px 100px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.logo {
    margin: 10px 0px 0px 20px;
}

.logos {
    margin: 20px 20px;
}

.actvision {
    margin-bottom: 4px;
    margin-right: 6px;
}

.links {
    width: 70%;
    margin: 40px 0 55px;
    z-index: 4;
}
header {
    justify-content: space-between;
    display: flex;
}

.text-links {
    color: #F00;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 50px;
    cursor: pointer;
}

main {
    width: 50%;
    height: calc(100% - 150px);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

h1 {
    font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
    color: white;
    font-size: 65px;
    font-weight: 400;
    margin-top: 100px;
    
    
}

p {
    
    width: 75%;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-left: 100px;
    margin-top: 24px;
    margin-bottom: 45px;
    line-height: 20px;
    text-align: center;
    
}


.text-left {
    margin-bottom: 100px;
}

button {
    color: white;
    background-color: #F00;
    box-shadow: 0px 0px 15px 0px #F00;
    border-radius: 10px;
    border: none;
    padding: 28px 40px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 17px;
    
}



.aranha {
    width: 60%;
    position: absolute;
    z-index: 1;
    left: 40%;
    transform: translateX(-17%);
    transform: translateY(-10%)
}

.logo-aranha {
    position: absolute;
    z-index: 1;
    left: 8%;
    width: 35%;
    height: 70%;
    transform: translateX(6%);

}